<div class='form'>
  <div class="container">
<h3>Make yourself a TA</h3>
<br>
  <%= simple_form_for(@teacher) do |f| %>
    <%= f.input :description, class: 'input-new', placeholder: 'Please enter a description about yourself', label: false  %>
    <%= f.input :price %>
    <%= f.select :category, Teacher::CATEGORIES %>
<div>
  <br>
    <%= f.button :submit, class: 'btn btn-primary'%>
  </div>
  </div>
  <% end %>
  </div>

