<div class='form'>
<div class="container">
<h3 class="pt-5 text-white">Make yourself a TA</h3>
<br>
  <%= simple_form_for(@teacher) do |f| %>
    <%= f.input :description, class: 'input-new', placeholder: 'Please enter a description about yourself', label: false  %>
    <%= f.input :price, class: 'input-new', placeholder: 'What price do you charge per day?', label: false%>
    <%= f.select :category, Teacher::CATEGORIES, class: 'w-100' %>
<div>
  <br>
    <%= f.button :submit, class: 'path-buttons'%>
  </div>
  </div>
  <% end %>
  </div>

