<%= link_to teacher, class: 'teacher_card-category', style: "height: 220px; background-image: url('https://kitt.lewagon.com/placeholder/users/#{teacher.user.username}')" do %>
  <div class="teacher_card-text">
    <%= teacher.user.first_name %> <%= teacher.user.last_name %>
    <p><%= teacher.category %> <br>
    <%= "£#{teacher.price.to_i} per day" %></p>
  </div>
<% end %>
