<div class="custom-container">
<div class="header">
  <h1>Our Teachers</h1>
</div>

<div class="card_container">
  <div class="cards">
    <% @teachers.each do |teacher| %>
      <div class="card-category" style="height: 220px; background-image: url('<%= "https://kitt.lewagon.com/placeholder/users/#{teacher.user.username}" %>')" >
        <%#= image_tag "https://kitt.lewagon.com/placeholder/users/#{teacher.user.username}" %>
        <div>
          <%= teacher.user.first_name %> <%= teacher.user.last_name %>
          <%= teacher.category %>
          <%= link_to 'Book', new_teacher_booking_path(teacher) %>
          <%= link_to 'Show', teacher %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <%# <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Category</th>
        <th colspan="3"></th>
      </tr>
    </thead> %>

      <%# <tbody>
      <div class="cards">
        <%= render @teachers %>
      <%# </div> %> %>

      <%# </tbody> %>
    </div>
  </table>
</div>

  <br>

  <%= link_to 'Home', root_path %>
</div>
