<div class="custom-container" id="show-page" class="container">
  <div class="box">
    <div id="overlay">
     <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{@teacher.user.username}", class: "image" %>
        <div class="trick">
      </div>
      </div>
      <ul class="text" id="name"><%= @teacher.user.first_name.capitalize %> <%= @teacher.user.last_name.capitalize %></ul>
      <div class="text" id="category"><%= @teacher.category %></div>




 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
   <div class="panel panel-default">
     <div class="panel-heading " role="tab" id="headingOne">
       <h4 class="panel-title ">
         <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="" aria-controls="collapseOne">
           <div class="title  btn btn-danger btn-outline btn-lg" id="buttond">Click to see <%= @teacher.user.first_name.capitalize %>'s description</div>
         </a>
       </h4>
     </div>
     <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
       <div class="panel-body">
         <%= @teacher.description.capitalize %>
       </div>
     </div>
   </div>
   <div class="panel panel-default">
     <div class="panel-heading" role="tab" id="headingThree">
       <h4 class="panel-title">
         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                   <%= link_to 'Book this TA now!', new_teacher_booking_path(@teacher), class: "title btn btn-danger btn-outline btn-lg" %>         </a>
       </h4>
     </div>
     <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
       <div class="panel-body">
          <%= link_to 'Book', new_teacher_booking_path(@teacher), class: "btn btn-primary w-100" %>

       </div>
     </div>
   </div>
 </div>
</div>
</div>
<%= link_to 'Choose a different TA', teachers_path, class: "path-buttons" %>
<%= link_to 'Back to the home page', root_path, class: "path-buttons" %>
